<html lang="fr" translate="no">

<head>
    <link rel="stylesheet" href="./template.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
</head>

<body>
    <table class="main" width="100%" height="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="100%" style="vertical-align: top;">
                    <table class="content" width="562px">
                        <tbody>
                            <tr>
                                <td class="logo">
                                    <!-- <img width='100px' src="./logo.png" alt="logo" /> -->
                                    <img width='100px' src="cid:logoimage" alt="logo" />
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Salut à toi jeune P1 ! 😃</td>
                            </tr>
                            <tr>
                                <td class="desc">
                                    Les partiels du S1 arrivent à grand pas ! <br>
                                    Ne stresse pas et reste focus, c'est la dernière ligne droite,
                                    <strong style="color:#38454c">COURAGE !</strong> 🤗<br><br>
                                    Si tu as l'habitude d'apprendre ton cours en faisant des QCMs,
                                    sache alors que tu as la possibilité d'en faire de même sur notre site ! 😎<br><br>
                                    Tu as la possibilité de t'entrainer sur notre banque de <strong style="color:#38454c">+1000 QCMs</strong>
                                    répartis par thématique avec la possibilité de revenir sur les items où
                                    tu as échoué <strong style="color:#38454c">GRATUITEMENT </strong> tous les jours !
                                </td>
                            </tr>
                            <tr>
                                <td class="button">
                                    <a href="https://www.qcmed.fr" target="_blank">👊 <strong>Lances Toi !</strong>
                                        👊</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>