.warningPopup {
    z-index: 10000;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    padding: 0 16px;
}

.warningContent {
    background-color: var(--color-lighter-grey);
    padding: 4px 12px;
    border-radius: 20px;
    transform: translateY(-46px);
    transition: .5s ease-in-out;
    text-align: center;
}

.warningContent.active {
    animation: warningPopup 3s ease-in-out 1;
}

@keyframes warningPopup {

    0%,
    100% {
        transform: translateY(-46px);
    }

    15%,
    85% {
        transform: translateY(20px);
    }
}

.warningContent {
    h3 {
        font-size: 15px;
        font-weight: 400;
        color: var(--color-red);

        &.green {
            color: var(--color-green);
        }
    }
}

@media (min-width: 804px) {
}