.homeWrapper {
    transition: .2s ease-in-out;
    height: 100%;
    position: relative;

    .section {
        &:nth-child(1) {
            background-color: var(--color-lighter-grey);
            gap: 32px;
            height: 100vh;
            display: flex;
            align-items: center;

            .container {
                animation: fadein 1s ease-out, opacity 1s linear;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                gap: 16px;
                width: 100%;
                text-align: center;

                .title {
                    font-weight: 600;
                    font-size: 1.9em;
                }

                .slogan {}

                .start {
                    margin-top: 32px;
                    cursor: pointer;
                    border: none;
                    border-radius: 20px;
                    background-color: var(--color-dark-blue);
                    padding: 4px 8px;
                    transition: .2s ease-in-out;
                    animation: fadein 1s ease-out, opacity 1s linear forwards;
                    opacity: 0;
                    translate: 0 0;
                    animation-delay: 0.5s;

                    span {
                        font-size: 16px;
                        color: white;
                    }

                    &:hover {
                        background-color: var(--color-darker-blue);
                        scale: 1.025;
                    }
                }
            }
        }

        &:nth-child(2), &:nth-child(3) {
            padding: 64px;

            .sectionTitle {
                font-size: 32px;
                font-weight: 600;
            }

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                gap: 64px;
                height: 100%;

                .box {
                    flex: 1;
                    max-width: 400px;
                    min-width: 312px;
                    box-shadow: 0 4px 45px #d2d5d9;
                    padding: 32px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    align-items: center;
                    justify-content: flex-start;
                    transition: .2s ease-in-out;
                    text-align: center;

                    &:hover {
                        scale: 1.025;
                    }

                    .title {
                        font-weight: 600;
                        font-size: 22px;
                    }

                    .text {}

                    .img {
                        width: 100%;

                        img {
                            width: inherit;
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadein {
    0% {
        translate: 0 50px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 448px) {
    .homeWrapper {
        .section {
            &:nth-child(1) {
                .container {
                    .title {
                        //font-size: 40px;
                    }
                }
            }
        }
    }
}

@media (min-width: 804px) {
    .homeWrapper {
        .section {
            &:nth-child(2),&:nth-child(3) {
                .container {
                    flex-direction: row;
                    align-items: normal;
                    height: 100%;
                }
            }
        }
    }
}