.homeWrapper {
    transition: .2s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;

    .section {
        &:nth-child(1) {
            display: flex;
            background-color: var(--color-lighter-grey);
            justify-content: center;
            align-items: center;
            gap: 32px;
            height: 100vh;

            .container {
                animation: fadein 1s ease-out, opacity 1s linear;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 16px;

                .title {
                    font-weight: 600;
                    font-size: 32px;
                }

                .slogan {}

                .start {
                    margin-top: 16px;
                    cursor: pointer;
                    border: none;
                    border-radius: 20px;
                    background-color: var(--color-blue);
                    padding: 4px 8px;
                    transition: .2s ease-in-out;
                    animation: fadein 1s ease-out, opacity 1s linear forwards;
                    opacity: 0;
                    animation-delay: 0.5s;

                    span {
                        color: white;
                    }

                    &:hover {
                        background-color: var(--color-dark-blue);
                        scale: 1.025;
                    }
                }
            }
        }

        &:nth-child(2) {
            padding: 64px;

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 64px;
                height: 100%;

                .box {
                    width: 400px;
                    box-shadow: 0 4px 45px #d2d5d9;
                    padding: 32px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
        }
    }
}

@keyframes fadein {
    0% {
        translate: 0 50px;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 804px) {
    .homeWrapper {
        .section {
            &:nth-child(2) {
                .container {
                    flex-direction: row;
                    align-items: normal;
                    height: 100%;
                }
            }
        }
    }
}